<!-- Favicon -->
<link rel="shortcut icon" xmlns:th="http://www.thymeleaf.org"
	  th:href="@{/favicon.png}" type="image/x-icon">

<!-- Google Font -->
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" 
	  th:href="@{/fonts/nunito-sans.css}">

<!-- Styles -->
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" 
	  th:href="@{/css/bootstrap.min.css}" type="text/css">
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" 
	  th:href="@{/css/font-awesome.min.css}" type="text/css">
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" 
	  th:href="@{/css/elegant-icons.css}" type="text/css">
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" 
	  th:href="@{/css/magnific-popup.css}" type="text/css">
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" 
	  th:href="@{/css/nice-select.css}" type="text/css">
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" 
	  th:href="@{/css/owl.carousel.min.css}" type="text/css">
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" 
	  th:href="@{/css/slicknav.min.css}" type="text/css">
<link rel="stylesheet" xmlns:th="http://www.thymeleaf.org" 
	  th:href="@{/css/style.css}" type="text/css">